<div class="comment">
    <div class="author">
        <%= time_ago_in_words(comment.created_at) %> ago 
        &mdash; <%= comment.author %>
    </div>
    <div class="text">
        <%= simple_format(comment.text) %>
    </div>
    <ul class="actions">
      <li>
        <%= button_to "Delete Comment",
          admin_post_comment_path(comment.post, comment),
          method: :delete,
          data: { confirm: "Delete this comment?" } %>
      </li>
    </ul>
</div>
