<div class="comment">
    <div class="author">
        <%= time_ago_in_words(comment.created_at) %> ago 
        &mdash; <%= comment.author %>
    </div>
    <div class="text">
        <%= simple_format(comment.text) %>
    </div>
    <ul class="actions">
        <li><%= button_to "Delete Comment", comment.post, comment,
            data: { confirm: "Delete this comment?" } %></li>
    </ul>
</div>
