<h1> Welcome to the Margot Emporium! </h1>
<ul class="actions">
    <li><%= link_to "New Margot", new_admin_post_path %></li>
</ul>

<div class="posts">
    <% @posts.each do |post| %>
        <%= link_to (image_tag post.image), post %>
        <%= link_to post.name, post %>
    <% end %>
</div>
