/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: rgba(214, 223, 210, 0.897);
    display: block;
    margin: 0;

    .sidebar {
        display: block;
        height: 980px;
        width: 320px;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        background-color: rgba(180, 221, 226, 0.842);
        text-align: center;
        border-right: 5px double grey;
        float: left;
    
    
        figure.hof {
            background-color: rgba(240, 234, 157, 0.897);
            border: 5px double rgb(228, 187, 99);
            display: table;
            margin-left: auto;
            margin-right: auto;
            max-width: 260px;
            text-align: center;
            margin-bottom: 12px;
        
        
            figcaption {
                display: table-caption;
                caption-side: bottom;
                background-color: rgba(240, 234, 157, 0.897);
                border: 5px double rgb(228, 187, 99);
                text-align: center;
                font-size: xx-large;
                margin-top: 12px;
            }
        
            img[src] {
                max-width: 250px;
                height: auto;
                object-fit: contain;
                margin: 1em;
            }
        }
    }
    .content {
        float: left;
        text-align: justify;
        
        .posts {
            position: fixed;
            margin: 20px;
            left: 320px;

            img[src] {
                max-width: 250px;
                height: auto;
                object-fit: contain;
                margin: 20.5px;
            } 
        }    
    }
}

.post {
    img[src]{
        max-width: 400px;
        height: auto;
        object-fit: contain;
    }
}


